/* GALLERY */
.gallery-grid {   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rss {  
  width: 40px;
  height: 40px;
  right: 16px;
  top: 16px;
  position: absolute;
}

.gallery-year { text-align: right;  }

.gallery-img { 
  height: 192px;
  max-width: 256px;
  min-width: 96px;
  box-sizing: content-box;
  overflow: hidden;
}

.gallery-img img { 
  width: auto;
  height: auto;
  max-height: 100%;
}

@supports (object-fit: cover) {
  .gallery-img img {
    height: 100%;
    width: 100%;
    object-fit: cover; 
  }
}

@media screen and (max-width: 640px) {
  .gallery-img {
    height: 128px;
    min-width: 64px;
    max-width: 192px;
  }
}

  
/* GALLERY ANIMATIONS */
.gallery-img { transition: transform 0.2s ease, box-shadow 0.2s ease; }
.gallery-img:not(:focus-visible) { border: none; outline: 2px solid var(--content-background); padding: 2px; }
.gallery-img:focus-visible { z-index: 9999; }

.gallery-img:hover { z-index: 99999; transform: scale(1.05); box-shadow: 8px 8px rgba(0,0,0,0.5); }
.gallery-img:hover:not(:focus-visible) {   
  padding: 4px; margin: -2px; outline-offset: -4px;
  /* marching-squares set elsewhere */
}

/* GALLERY ALIGNMENT */

/* left-center-aligned images (ex. ref sheets) */
/* .thumb[src$="bd3.jpg"], .thumb[src$="brandnewworld.jpg"], .thumb[src*="ref"], .thumb[src$="cam2.jpg"], .thumb[src$="wizard.jpg"], .thumb[src$="doggo.jpg"], .thumb[src$="bun.jpg"] { object-position: 15% 50%; }

/* top-center-aligned images (ex. single character) */
/* .thumb[src$="goatside.jpg"], .thumb[src$="clovergoat.jpg"], .thumb[src$="cleo.jpg"], .thumb[src$="cleofront.jpg"], .thumb[src$="panda.jpg"], .thumb[src$="goat.jpg"], .thumb[src$="mae.jpg"], .thumb[src$="punches.jpg"], .thumb[src$="rat.jpg"], .thumb[src$="emery.jpg"], .thumb[src$="vendetta.jpg"], .thumb[src$="kerana.jpg"], .thumb[src$="spark.jpg"], .thumb[src$="fursonafits.jpg"], .thumb[src$="nutella.jpg"], .thumb[src$="goatpride.jpg"], .thumb[src$="green.jpg"], .thumb[src$="camheart.jpg"], .thumb[src$="gf.jpg"], .thumb[src$="lizard.jpg"]  { object-position: 50% 15%; }

/* custom alignment */
/* .thumb[src$="badger.jpg"] { object-position: 70% 50%; }

/* GALLERY FOCUS */
#gallery-focus { overflow: auto; }
#gallery-focus .focus-container { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 0px 20px; 
}

#gallery-focus .info { 
  float: left; 
  flex-grow: 1; 
  min-width: 35%;
}

#gallery-focus .art { 
  float: left; 
  overflow: visible; 
  max-width: 100%; 
  height: fit-content;
}

#gallery-focus .art img { 
  height: auto;
  width: auto;
  max-height: 100%;
  max-height: calc(100vh - 50px);
  max-width: 100%; 
  object-fit: cover; 
  display: block; 
  min-width: 128px;
  min-height: 128px;
}

.gallery-back { width: 100%; text-decoration: none; color: var(--text-color) !important; }
.gallery-back:hover { color: var(--link-hover-color) !important; }

.gallery-back > :first-child { margin-top: 0px; }
#gallery-focus .info > :last-child { margin-bottom: 0px; }

.focus-container + hr {
  border: none; 
  border-bottom: 3px dashed var(--text-color) !important; 
}

#gallery-focus .focus-footer nav { display: flex; flex-wrap: wrap; }
#gallery-focus .focus-footer nav > p { flex: 1 0 10em; margin: 0; text-align: center; }
#gallery-focus .focus-footer nav > p:first-child { text-align: left; }
#gallery-focus .focus-footer nav > p:last-child { text-align: right; }
