#landing-body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

#landing-body #site-body {
  flex-basis: 1300px;
}

#landing-text > h1 {
  margin-top: 0;
}

#enter-button {
  width: fit-content;
  font-size: 1.1em;
  background-color: var(--clover-pink);
  display: block;
  padding: 0.5em 1em;
  border: 2px solid var(--contrast-color);
  border-radius: 12px;
  margin-bottom: 12px;
}

#enter-button:hover {
  border-color: var(--text-color);
}

#enter-button > a > h1 {
  margin: 0; padding: 0;
}

#enter-button > a {
  text-decoration: none;
  color: white;
}
