/* LINKS - BUTTONS */
.button-holder {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 10px;
  gap: 4px;
}

.button-holder > img, .button-holder > a, .site-button {
  outline: 1px dashed rgb(100, 100, 100);
  image-rendering: auto;
  width: 88px;
  height: 31px;
  margin: 0;
}

.button-holder > img:hover, .button-holder > a:hover, .site-button:hover {
  transform: scale(1.05);
  outline: none;
  padding: 1px; margin: -1px;

  background: linear-gradient(90deg, white 50%, transparent 50%), 
              linear-gradient(90deg, white 50%, transparent 50%), 
              linear-gradient(0deg, white 50%, transparent 50%), 
              linear-gradient(0deg, white 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  
  animation: dash 0.5s linear infinite;
}

@keyframes dash {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

body.reduced-motion {
  .button-holder > img:hover, .button-holder > a:hover, .site-button:hover {
    animation: none !important;
  }
}

.cool-sites > h1 { margin-bottom: 4px; }

/* LINKS - WEBRING */
.flex-sections .webring iframe {
	float: right;
}

.flex-sections .webring {
	flex: 0 1 0;
}