@import "normalize.css";

/* ANIMATIONS */
@keyframes bounce {
    0% { transform:translateY(0%); }
    30% { transform:translateY(-1.5%); }
    100% { transform:translateY(0%); }
}

@keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform:rotate(360deg); } 
}

/* VARIABLES */
:root {
  --clover-green: #4cb07e;
  --clover-pink: #e5347d; /* old, softer color: #ed93c7; */

  --dark-bg: black;
  --dark-content-bg: #141010;
  --dark-text: white;
  --dark-drop-shadow: black;
  
  --light-bg: black;
  --light-content-bg: #f5f1f1;
  --light-text: black;
  --light-drop-shadow: lightgrey;

  --display-dark-mode-toggle: block;

  --content-padding: 20px;
  --content-border: var(--drop-shadow);
  --content-border-size: 5px;
  --content-margin: 8px;

  --speech-bubble-color: var(--light-content-bg);

  --darker-bg-25: color-mix(in hsl, var(--content-background), var(--drop-shadow) 25%);
  --darker-bg-50: color-mix(in hsl, var(--content-background), var(--drop-shadow) 50%);
  --darker-bg-75: color-mix(in hsl, var(--content-background), var(--drop-shadow) 75%);

  --darker-green-25: #00937B; /* match site logo */
  --darker-green-50: color-mix(in hsl, var(--clover-green), #002f52 20%);
  --darker-green-75: color-mix(in hsl, var(--clover-green), #002f52 30%);

  --darker-pink-25: color-mix(in hsl, var(--clover-pink), #460d0d 10%);
  --darker-pink-50: color-mix(in hsl, var(--clover-pink), #460d0d 20%);
  --darker-pink-75: color-mix(in hsl, var(--clover-pink), #460d0d 30%);
}

:root { /* dark mode values (default) */
  --background: var(--dark-bg);
  --content-background: var(--dark-content-bg);
  --text-color: var(--dark-text);
  
  --inverse-text-color: var(--light-text);
  --inverse-content-bg: var(--light-content-bg);

  --drop-shadow: var(--dark-drop-shadow);
  --scrollbar-color: lightgrey;
}

:root:has(.darkModeCheckbox:checked) { /* light mode values */
  --content-background: var(--light-content-bg);
  --text-color: var(--light-text);
  
  --inverse-text-color: var(--dark-text);
  --inverse-content-bg: var(--dark-content-bg);

  --drop-shadow: var(--light-drop-shadow);
  --scrollbar-color: grey; 
}

:root {
  --link-color: #20b2aa; 
  --link-hover-color: #00ced1;
  --link-active-color: white;
  --link-visited-color: var(--clover-pink); 
  --link-visited-hover: hotpink; 
}

:root:has(.darkModeCheckbox:checked), .speech-bubble {
  --link-color: #005875; 
  --link-hover-color: #002d88;
  --link-active-color: black;
  --link-visited-color: var(--clover-pink); 
  --link-visited-hover: rgb(166, 25, 96); 
}

/* TEXT */
p, li {
  font-size: 1.2rem;
  font-weight: 500;
}

ul { margin-top: 0; margin-bottom: 0; }

a:link { color: var(--link-color); } 
a:visited { color: var(--link-visited-color); } 
a:hover, a:focus { color: var(--link-hover-color); } 
a:visited:hover, a:visited:focus { color: var(--link-visited-hover); }
a:active { color: var(--link-active-color); }  

main:not(:has(main)) hr { border: none; border-bottom: 3px dashed var(--drop-shadow); }

/* body:not(.hovering-over-text) { cursor: url("/assets/cursor.png") 4 1, auto; }
.hovering-over-text { cursor: url("/assets/cursor_text.png") 14 11, text; }
a { cursor: url("/assets/cursor_hover.png") 10 1, pointer; } */

/* EMOJI (Mutant Standard */
.emoji, .emoji-spacer { 
  display: inline-block;
  width: 1em; 
  height: auto;
  user-select: text; 
  -webkit-user-select: text; 
}

.emoji-spacer { overflow: clip !important; text-wrap: nowrap; white-space: nowrap; padding-left: 0.075em; padding-right: 0.075em; }
.emoji { pointer-events: none; position: absolute; overflow: visible !important; width: 1.15em; margin-left: -1.15em; margin-top: 0.075em; }

.emoji::selection {
  background: transparent; /* hide oversized selection highlight, but enable copy */
}

/* CONTAINER FORMATTING */
body {
  color: var(--text-color);
  max-width: 1300px;
  margin: 0 auto;

  font-family: Pangolin, sans-serif;
  letter-spacing: 0.033em; 
  /* font-family: Nunito; letter-spacing: normal; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
} 

p { margin: 0.75em 0; }

small {
  font-family: Nunito, sans-serif; letter-spacing: normal;
  /* font-family: monospace; */
}

main { /* actual page content */
  padding: var(--content-padding);
  padding-top: calc(var(--content-padding) - 2px);
  margin: 0 var(--content-margin); 
  background-color: var(--content-background);
  border-radius: 20px;
  overflow: clip;
  /* transition: margin 0.25s; */
  /* width: calc(var(--content-width) - var(--content-padding) - var(--content-margin)); 
  margin: 0 auto; */

  outline: 4px solid var(--content-border); 
  position: relative;
}

main > :first-child, main > center > :first-child, 
article > :first-child, article > center > :first-child,
section:not(hr + section) > :first-child, section:not(hr + section) > center > :first-child
{ margin-top: 0; }

main > :last-child, main > center > :last-child, 
article > :last-child, article > center > :last-child,
section:not(:has(+ hr)) > :last-child, section:not(:has(+ hr)) > center > :last-child
{ margin-bottom: 0; }

.striped {
  background: repeating-linear-gradient(
    -45deg,
    var(--darker-bg-25), var(--darker-bg-25) 20px,
    var(--darker-bg-75) 20px, var(--darker-bg-75) 40px
  );
  background-attachment: local;
}

.striped.green {
  background: repeating-linear-gradient(
    -45deg,
    var(--clover-green), var(--clover-green) 20px,
    var(--darker-green-25) 20px, var(--darker-green-25) 40px
  );
  background-attachment: local;
}

.striped.pink {
  background: repeating-linear-gradient(
    -45deg,
    var(--clover-pink), var(--clover-pink) 20px,
    var(--darker-pink-25) 20px, var(--darker-pink-25) 40px
  );
  background-attachment: local;
}

.striped.pink, .striped.pink * { color: white !important; }
.striped.green, .striped.green * { color: white !important; }

details > summary { 
  display: flex; 
  background: var(--darker-bg-25);
  border: 3px solid var(--drop-shadow);
  border-radius: 20px;
  padding: 5px 15px;
}

details:open > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details:open > div {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid var(--drop-shadow);
  border-top: none;
}

details:open > div > :first-child {
  margin-top: 0;
}

details > summary > h1, details > summary > h2 { display: list-item; }
details > summary > * { margin: auto 0; }
details > summary > *:not(:last-child) { margin-right: 0.25em; }

textarea {
  color: var(--text-color);
  background-color: var(--inverse-text-color);
  font-family: monospace;
}

.astro-code {
  padding: var(--content-padding);
  border: 3px solid var(--drop-shadow);
  border-radius: 10px;
}

.astro-code, .astro-code span {
  background-color: var(--darker-bg-50) !important;
}

:root:not(:has(.darkModeCheckbox:checked)) .astro-code, 
:root:not(:has(.darkModeCheckbox:checked)) .astro-code span {
  color: var(--shiki-dark) !important;
}

.scrollable {
  padding: 20px;
  overflow-x: clip;
  overflow-y: auto;
  overflow-wrap: break-word;
  border: 3px solid var(--drop-shadow);
  border-radius: 10px;
  
  min-width: 15em;
  max-height: 20em;
  background-color: var(--darker-bg-25);
}

.scrollable h2 {
  margin-bottom: 0.5em;
}

.flex-sections:has(> .shareable) {
  justify-content: center;
}

.flex-sections .shareable {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1 1 0;
}

.shareable textarea {
  position: relative;
  top: 5px;
  overflow-y: scroll;
  word-break: break-all;
  height: 110px;
  width: 100%;
  min-height: fit-content;
  min-width: 210px;
}

.details-expand {
  padding-top: 10px;
}

.details-expand:has(.button-holder) > p {
  text-align: center;
  font-size: 0.9em;
  margin: 0;
  padding: 5px;
}

/* @supports (scrollbar-color: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--drop-shadow);
  } 
} */

/* PAGE SECTIONS */ 
.flex-sections {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}

.flex-sections:first-child { margin-top: 0 !important; }
.flex-sections:last-child { margin-bottom: 0 !important; }

/* default - force half and half */
.flex-sections > section {
  flex: 1 1 0;
}

.flex-sections:has(.links), .flex-sections:has(> .shareable) {
  overflow: visible;
}

/* HEADER */
#site-header { 
  margin: 0 var(--content-margin);
} 

#site-header > div { 
  margin: 0 auto;
  text-align: center; 
}

#site-header > div > div {
  overflow: clip;
  border-radius: 25px; 
  margin: 4px auto 12px; 
  max-width: 800px;
  border: 1px solid var(--content-border);
  background-color: var(--content-background);
}

#site-header nav {
  display: flex;
  position: relative; 
  flex-wrap: wrap;
  justify-content: center; 
  border-radius: 25px; 
  text-align: center; 
  border: 3px solid var(--content-border); 
}

#site-title { font-size: 3em; text-decoration: none; }

#site-logo {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

#site-logo img {
  width: 100%;
  max-width: 512px;
  height: auto;
  transition: transform 0.2s;
  filter: drop-shadow(3px 3px var(--dark-drop-shadow));
  vertical-align: unset;
}

#site-logo:hover img {
  transform: scale(1.05); 
  filter: drop-shadow(2px 0 0 white) 
          drop-shadow(0 2px 0 white) 
          drop-shadow(-2px 0 0 white) 
          drop-shadow(0 -2px 0 white) 
          drop-shadow(3px 3px var(--dark-drop-shadow));
}

#site-header nav a { 
  color: var(--text-color) !important;
  padding: 3px 4px;
  flex: 1 0 100px;
  font-size: 1.5em; 
  text-decoration: none;
  /* border: 0px solid var(--content-background);  */
  border-bottom: 3px solid var(--drop-shadow); 
  text-wrap: nowrap; 
  padding-right: 12px;
  margin-bottom: -3px;
}

#site-header nav a:focus-visible {
  outline: none !important;
  border-bottom: 3px solid var(--text-color); 
}

#site-header nav .emoji { margin-top: 3px; }

/*#site-header > div a:hover { color: var(--inverse-text-color); } */

#site-header nav a + a {
  /* margin-left: 15px; */
  border-left: 3px solid var(--drop-shadow);
  margin-left: -3px;
}

#site-header nav a:hover, #site-header nav a:active, #site-header nav a:focus-visible {
  font-weight: bolder;
}

.active-page { 
  border-bottom: 2px solid var(--text-color) !important;
  font-weight: bold;
}

/* FOOTER */
#site-footer { 
  /* width: calc(var(--content-width) - var(--content-padding)); */
  margin: 0 auto;
  /* padding-bottom: 16px; */
  padding: 0;
  border: none;
  font-size: 1em;
}

#site-footer:before {
  content: " ";
  display: block;
  /* border-top: 2px solid var(--text-color); */
  border-radius: 2px;
  width: 128px;
  margin: 0 auto;
  padding-top: 16px;
}

#site-footer .username { 
  width: fit-content; 
  margin: 0 auto; 
  padding-top: 10px;
  font-weight: 500;
  color: var(--light-content-bg); 
}

#site-footer .social-icons {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  width: fit-content;
  margin: 0 auto;
}

#site-footer .social-icons img {
  height: 32px !important;
}

#site-footer .footer-buttons { display: flex; height: 48px; overflow: clip; }

.dark-mode-toggle {
  display: var(--display-dark-mode-toggle);
  margin: 0 auto;
  position: relative;
  top: -16px;
}

.darkModeLabel, .lightModeLabel {
  cursor: pointer;
  box-sizing: content-box;
  font-size: 18px;  
  border-radius: 100% !important;
  height: 32px;
  width: 32px;
}

/* LINKS / SOCIAL MEDIA */
.links { 
  display: flex; 
  flex-wrap: wrap;
  gap: 15px;
}

.flex-sections .links-socials {
  flex-basis: 16em;
}
.flex-sections .other-socials {
  flex: 0 1 0;
}

.social-media { 
  display: flex; 
  border-radius: 20px;  
  padding: 8px; 
  min-width: 150px;
  float: left; 
  text-decoration: none; 
  filter: drop-shadow(3px 3px var(--drop-shadow));
  margin: var(--reset);
}

#site-footer .social-media {
  filter: drop-shadow(3px 3px var(--dark-drop-shadow));
  min-width: 0px;
}

.social-media:hover:not(:focus-visible), .social-media:active {
  outline: 2px solid var(--text-color);
}

#site-footer .social-media:hover:not(:focus-visible), 
#site-footer .social-media:active {
  outline: 2px solid white;
}

.social-media:active {
  box-shadow: 4px 4px rgba(15,8,25,0.5) inset;
  padding: 11px 5px 5px 11px;
}

.tumblr:active, .github:active { box-shadow: 4px 4px rgba(15,8,25,0.8) inset; }

.social-media p { margin: auto; margin-right: 0; float: right; color: black; }

.itaku { background-color: rgb(255, 235, 59); }
.tumblr { background-color: #36465D; }
.twitter { background-color: #1DA1F2; }
.bsky { background-color: #0085ff; }
.github { background-color: #232121; }


@supports (filter: invert(1)) {
  .tumblr img, .twitter img, .bsky img, .github img { filter: invert(1); }
  .tumblr p, .twitter p, .bsky p, .github p { color: white; }
}

/* chat bubbles */
.speech-bubble {
  color: black;
  position: relative;
  padding: 20px;
  background-color: var(--speech-bubble-color); 
  border-radius: 20px;
  outline: 3px solid var(--drop-shadow);
  filter: drop-shadow(3px 3px var(--drop-shadow));
}

.speech-bubble > p:first-child { margin-top: 0px; }
.speech-bubble > p:last-child { margin-bottom: 0px; }

.speech-bubble { 
  margin-bottom: 15px !important; 
}

.speech-bubble.top { 
  margin-top: 30px !important; 
  margin-bottom: 0 !important; 
}

.speech-bubble.left { 
  margin-left: 30px; 
  margin-bottom: 0 !important; 
  min-height: 25px;
}

.speech-bubble.right { 
  margin-right: 30px; 
  margin-bottom: 0 !important; 
  min-height: 25px;
}

.speech-bubble::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  border-style: solid;
  border-color: var(--speech-bubble-color) transparent;

  top: auto;
  bottom: -20px;
  right: 40px; 
  left: auto;
  border-width: 20px 20px 0;
}

.speech-bubble.top::after {
  top: -20px; 
  bottom: auto;
  right: 40px; /* controls horizontal position */
  left: auto;
  border-width: 0 20px 20px;
}

.speech-bubble.left::after {
  top: 50%; /* controls vertical position */
  transform: translateY(-50%);
  left: -29px; 
  right: auto;
  bottom: auto;
  border-width: 15px 30px 15px 0;
  border-color: transparent var(--speech-bubble-color);
}

.speech-bubble.right::after {
  top: 50%; /* controls vertical position */
  transform: translateY(-50%);
  right: -29px; 
  left: auto;
  bottom: auto;
  border-width: 15px 0 15px 30px;
  border-color: transparent var(--speech-bubble-color);
}

.speech-bubble::before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  border-style: solid;
  border-color: var(--drop-shadow) transparent;

  top: auto;
  bottom: -23px;
  right: 38px; 
  left: auto;
  border-width: 22px 22px 0;
}

.speech-bubble.top::before {
  top: -23px; 
  bottom: auto;
  right: 38px; /* controls horizontal position */
  left: auto;
  border-width: 0 22px 22px;
}

.speech-bubble.left::before {
  top: 50%; /* controls vertical position */
  transform: translateY(-50%);
  left: -32.5px; 
  right: auto;
  bottom: auto;
  border-width: 17px 32px 17px 0;
  border-color: transparent var(--drop-shadow);
}

.speech-bubble.right::before {
  top: 50%; /* controls vertical position */
  transform: translateY(-50%);
  right: -32.5px; 
  left: auto;
  bottom: auto;
  border-width: 17px 0 17px 32px;
  border-color: transparent var(--drop-shadow);
}

/* DARK MODE */
.darkModeCheckbox { height: 0px; } 
.darkModeLabel img, .lightModeLabel img { filter: invert(1); }

.darkModeLabel{ display: block; color: var(--dark-text); }
.lightModeLabel{ display: none; color: var(--light-text); }
.darkModeLabel:hover{ color: var(--light-text); }
.lightModeLabel:hover{ color: var(--dark-text); }

.darkModeCheckbox:checked ~ .darkModeLabel{ display: none; }
.darkModeCheckbox:checked ~ .lightModeLabel{ display: block; }

input[type="checkbox"]:focus ~ label {
  border: 2px solid black;
  margin: -2px;
  border-radius: 5px;
  outline: 1.5px solid white;
}

/* HEART PATTERN PAGE BACKGROUND */
:root {
  --pattern-heart-1: rgba(80, 60, 80, 0.5);
  --pattern-heart-2: var(--pattern-heart-1);
  
  --pattern-heart-1-transparent: rgba(80,60,80,0);
  --pattern-heart-2-transparent: var(--pattern-heart-1-transparent);
  
  --pattern-heart-size: 61px;
  
  background: 
    linear-gradient( /* bottom right chunk of heart 1 */
      135deg, 
      var(--pattern-heart-1) calc(var(--pattern-heart-size)*0.3), 
      var(--pattern-heart-1-transparent) calc(var(--pattern-heart-size)*0.3)) 
    50vw calc(var(--pattern-heart-size) + 50vh), 
    
    linear-gradient( /* bottom left chunk of heart 1 */
      -135deg, 
      var(--pattern-heart-1) 
      calc(var(--pattern-heart-size)*0.3), 
      var(--pattern-heart-1-transparent) 
      calc(var(--pattern-heart-size)*0.3)) 
    50vw calc(var(--pattern-heart-size) + 50vh), 
    
    radial-gradient( /* top left chunk of heart 1 */
      circle at calc(var(--pattern-heart-size)*2 - (var(--pattern-heart-size)*0.7*0.3)) calc(var(--pattern-heart-size)*1.85), 
      var(--pattern-heart-1) calc(var(--pattern-heart-size)*.85*.3), 
      var(--pattern-heart-1-transparent) calc(var(--pattern-heart-size)*.87*.3)) 
    50vw calc(var(--pattern-heart-size)*-1 + 50vh), 
    
    radial-gradient( /* top right chunk of heart 1 */
      circle at calc(var(--pattern-heart-size)*0.3*0.7) calc(var(--pattern-heart-size)*1.85), 
      var(--pattern-heart-1) calc(var(--pattern-heart-size)*.85*.3), 
      var(--pattern-heart-1-transparent) calc(var(--pattern-heart-size)*.87*.3)) 
    50vw calc(var(--pattern-heart-size)*-1 + 50vh), 
    
    linear-gradient( /* bottom right chunk of heart 2 */
      135deg, 
      var(--pattern-heart-2) calc(var(--pattern-heart-size)*0.3), 
      var(--pattern-heart-2-transparent) calc(var(--pattern-heart-size)*0.3)) 
    calc(50vw + var(--pattern-heart-size)) 50vh, 
    
    linear-gradient( /* bottom left chunk of heart 2 */
      -135deg, 
      var(--pattern-heart-2) calc(var(--pattern-heart-size)*0.3), 
      var(--pattern-heart-2-transparent) calc(var(--pattern-heart-size)*0.3)) 
    calc(50vw + var(--pattern-heart-size)) 50vh, 
    
    radial-gradient( /* top left chunk of heart 2 */
      circle at calc(var(--pattern-heart-size)*2 - (var(--pattern-heart-size)*0.7*0.3)) calc(var(--pattern-heart-size)*1.85), 
      var(--pattern-heart-2) calc(var(--pattern-heart-size)*.85*.3), 
      var(--pattern-heart-2-transparent) calc(var(--pattern-heart-size)*.87*.3)) 
    calc(50vw + var(--pattern-heart-size)) 50vh, 
    
    radial-gradient( /* top right chunk of heart 2 */
      circle at calc(var(--pattern-heart-size)*0.3*0.7) calc(var(--pattern-heart-size)*1.85), 
      var(--pattern-heart-2) calc(var(--pattern-heart-size)*.85*.3), 
      var(--pattern-heart-2-transparent) calc(var(--pattern-heart-size)*.87*.3)) 
    calc(50vw + var(--pattern-heart-size)) 50vh;
  
  background-size: calc(var(--pattern-heart-size)*2) calc(var(--pattern-heart-size)*2);
  background-color: rgba(40, 30, 40, 1); /* behind all the hearts */
  background-repeat: repeat;
}