---
import SiteHeader from '../../components/site-header.astro';
import SiteFooter from '../../components/site-footer.astro';
const { activePage = "home" } = Astro.props;
---

<body class={activePage === "blog" ? "blog-body" : ""}>
  <SiteHeader activePage={activePage} />
  <div id="site-body">
    <main><slot></slot></main>
    <SiteFooter />
  </div>
</body>