---
import Base from "../layouts/base.astro";
import "../styles/about.css";
---

<Base title="about me - goatpupclover" activePage="about">
    <section class="data-entry">
        <div class="flex-sections">
            <section class="data-icon-wrapper">
                <div class="data-icon">
                    <img
                        loading="eager"
                        width="192"
                        src="/assets/img/aboutme1.png?v=2"
                        alt="headshot of clover's fursona"
                    />
                </div>
            </section>
            <section class="intro-text">
                <p>clover - she/her/ae/aem 🏳️‍⚧️</p>
                <p>
                    also known as "goatpupclover", "goatgirlclover" or just
                    "goatgirl." artist/animator with interests in video games,
                    coding, and plush collecting. especially interested in
                    character design. mostly just draws herself (or her
                    friends!).
                </p>
                <p>
                    self-described "annoying cringe furry." only learned how to
                    socialize through the internet. would probably shrivel up
                    into a ball and die if you tried to talk to aem in real
                    life. is never not on the computer.
                </p>
            </section>
        </div>

        <p>
            theriotype: puppy (cocker spaniel)
            <br />birthday: march 21
            <br />enjoys: goats, dogs, girls, other cute things, making things,
            her friends, self-indulgence, video games, modding games/consoles,
            weird tech
            <br />does not enjoy: staying still, (non-psychologically) scary
            things, crowded spaces, going outside
        </p>
    </section>
    <hr />
    <details>
        <summary>
            <h1>favorite songs</h1>
        </summary>
        <div>
            <div class="music-grid striped">
                <a
                    target="_blank"
                    href="https://anamanaguchi.bandcamp.com/album/jaime-feat-jaime-brooks"
                >
                    <div class="favsong" id="anamanaguchi-jaime">
                        <img src="/assets/albumcover/anamanaguchi-jaime.jpg" />
                        <p>
                            <b>jaime</b>
                            <br /><span>anamanaguchi ft. jaime brooks</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://anamanaguchi.bandcamp.com/album/miss-the-rage"
                >
                    <div class="favsong" id="anamanaguchi-misstherage">
                        <img
                            src="/assets/albumcover/anamanaguchi-misstherage.jpg"
                        />
                        <p>
                            <b>miss the rage</b>
                            <br /><span>anamanaguchi</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://anamanaguchi.bandcamp.com/track/sunset-by-plane"
                >
                    <div class="favsong" id="anamanaguchi-sunset">
                        <img src="/assets/albumcover/anamanaguchi-usa.jpg" />
                        <p>
                            <b>sunset by plane</b>
                            <br /><span>anamanaguchi ft. caroline lufkin</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://anamanaguchi.bandcamp.com/track/we-die"
                >
                    <div class="favsong" id="anamanaguchi-wedie">
                        <img src="/assets/albumcover/anamanaguchi-usa.jpg" />
                        <p>
                            <b>we die</b>
                            <br /><span>anamanaguchi</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=NL7fyOoDG5w"
                >
                    <div class="favsong" id="metric-waves">
                        <img src="/assets/albumcover/metric-fantasies.jpg" />
                        <p>
                            <b>waves</b>
                            <br /><span>metric</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=4R2f8fkoOu0"
                >
                    <div class="favsong" id="metric-whitegold">
                        <img src="/assets/albumcover/metric-guaba.jpg" />
                        <p>
                            <b>white gold</b>
                            <br /><span>metric</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=ZuPRFDC3wCQ"
                >
                    <div class="favsong" id="metric-cascades">
                        <img
                            src="/assets/albumcover/metric-pagansinvegas.jpg"
                        />
                        <p>
                            <b>cascades</b>
                            <br /><span>metric</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=MfJp8eabfw0"
                >
                    <div class="favsong" id="metric-eternity">
                        <img src="/assets/albumcover/metric-formentera.jpeg" />
                        <p>
                            <b>what feels like eternity</b>
                            <br /><span>metric</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=qvm3_oXZZtg"
                >
                    <div class="favsong" id="metric-horizon">
                        <img src="/assets/albumcover/metric-artofdoubt.jpg" />
                        <p>
                            <b>no lights on the horizon</b>
                            <br /><span>metric</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://dcellgames.bandcamp.com/track/worn-out-tapes-3"
                >
                    <div class="favsong" id="wornouttapes">
                        <img src="/assets/albumcover/unbeatable-album.jpg" />
                        <p>
                            <b>worn out tapes</b>
                            <br /><span>peak divide ft. rachel lake</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=tWIX9Bpc_-w"
                >
                    <div class="favsong" id="royksopp-visionone">
                        <img src="/assets/albumcover/royksopp-junior.jpg" />
                        <p>
                            <b>vision one</b>
                            <br /><span>royksopp</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://0101.bandcamp.com/track/discovery"
                >
                    <div class="favsong" id="snailshouse-discovery">
                        <img
                            src="/assets/albumcover/snailshouse-alienpopv.jpg"
                        />
                        <p>
                            <b>discovery</b>
                            <br /><span>snail's house</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=NKiZH-k9500"
                >
                    <div class="favsong" id="unawakeningfloat">
                        <img
                            src="/assets/albumcover/sonic-sevenringsinhand.jpg"
                        />
                        <p>
                            <b>unawakening float</b>
                            <br /><span>runblebee + kenichi tokoi</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=V_9ujx5UjlM"
                >
                    <div class="favsong" id="ungravitify-electro">
                        <img src="/assets/albumcover/sonic-zerogravity.jpg" />
                        <p>
                            <b>un-gravitify (electro extended)</b>
                            <br /><span>kenichi tokoi, cashell</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://soundcloud.com/leilani-r-wilson/little-black-cat-sonic-mix-15"
                >
                    <div class="favsong" id="littleblackcat">
                        <img src="/assets/albumcover/unitres.png" />
                        <p>
                            <b>little black cat</b>
                            <br /><span>leilani wilson</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://tudd.bandcamp.com/track/floating-point-error-from-spark-the-electric-jester-3"
                >
                    <div class="favsong" id="floatingpointerror">
                        <img src="/assets/albumcover/spark3.jpg" />
                        <p>
                            <b>floating point error</b>
                            <br /><span>tudd</span>
                        </p>
                    </div>
                </a>
                <a
                    target="_blank"
                    href="https://www.youtube.com/watch?v=hcumY7T0byk"
                >
                    <div class="favsong" id="pacsteps">
                        <img src="/assets/albumcover/pacmance.jpg" />
                        <p>
                            <b>pac steps</b>
                            <br /><span>taku inoue</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </details>

    <hr />
    <details>
        <summary>
            <h1>random things about me!</h1>
        </summary>
        <div class="striped">
            <div class="flex-sections">
                <section class="scrollable">
                    <h2>video games i like</h2>
                    <ul>
                        <li><b>UNBEATABLE</b></li>
                        <li>
                            <b>sonic the hedgehog!!!!!!</b> (fav: maybe Shadow Generations???
                            Frontiers??? SA2???)
                        </li>
                        <li>spark the electric jester 3</li>
                        <li>celeste</li>
                        <li>cave story</li>
                        <li>momodora series</li>
                        <li>bomb rush cyberfunk</li>
                        <li>PAC-MAN: championship edition DX+</li>
                        <li>taiko no tatsujin (i'm not very good)</li>
                        <li>rivals of aether 2 (i'm even worse at this)</li>
                        <li>ace combat 7</li>
                    </ul>
                </section>
                <section class="scrollable">
                    <h2>hardware/software i like</h2>
                    <ul>
                        <li>site generator: Astro</li>
                        <li>laptop: Framework Laptop 16</li>
                        <li>headphones: DT 770 Pros</li>
                        <li>controller: GuliKit TT Pro</li>
                        <li>handhelds: New 3DS, PS Vita, DSi XL</li>
                        <li>
                            drawing tablet: Huion Kamvas 16 Gen 3 (w/ Parblo
                            stand)
                        </li>
                        <li>drawing program: Clip Studio Paint v1</li>
                        <li>browser: Waterfox with a bit of CSS</li>
                        <li>discord client: Vencord with way too much CSS</li>
                        <li>writing/notes: Obsidian</li>
                        <li>
                            coding (including this site): <s
                                >Visual Studio Code</s
                            > Zed (with all the AI bullshit turned off)
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </details>
</Base>
