---
import Base from "../layouts/base.astro";
import '../styles/about.css';
---

<Base title="about me - goatgirlclover" activePage="about">
  <section class="data-entry">
    <div class="flex-sections">
      <section class="data-icon-wrapper">
        <div class="data-icon">
          <img loading="eager" width="192" src="/assets/img/aboutme1.png?v=2" alt="headshot of clover's fursona">
        </div>
      </section>
      <section class="intro-text">
        <p>clover - she/her - <img src="/assets/mutantstandard/emoji/101675.svg" width="24"><img src="/assets/mutantstandard/emoji/1f3f3-fe0f-200d-26a7.svg" width="24"></p>
        <p>also known as "goatgirlclover" or just "goatgirl." artist/animator with interests in video games, coding, and plush collecting. especially interested in character design. mostly just draws herself.</p>
        <p>self-described "annoying cringe furry." only learned how to socialize through the internet. would probably shrivel up into a ball and die if you tried to talk to her in real life. is never not on the computer.</p>
      </section>
    </div>

    <p>
      species: goatgirl
      <br>birthday: march 21
      <br>enjoys: goats, girls, other cute things, making things, her friends, her girlfriend, self-indulgence, modding games/consoles, weird tech, describing herself in the third person, being outside
      <br>dislikes: staying still, (non-psychologically) scary things, crowded spaces, going outside
    </p>

  </section>
  <hr>
  <details>
    <summary>
      <h1>favorite music</h1>
    </summary>
    <div>
      <div class="music-grid striped">
        <!-- <noscript><center><small>(JavaScript required for music player)</small></center></noscript> -->
        <a target="_blank" href="https://www.youtube.com/watch?v=2IBpRHJZLVA">
        <div class="favsong" id="anamanaguchi-jaime">
            <img src="/assets/albumcover/anamanaguchi-jaime.jpg">
            <p>
              <b>jaime</b>
              <br><span>anamanaguchi ft. jaime brooks</span>
            </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=DX5vTcResbo">
        <div class="favsong" id="anamanaguchi-misstherage">
          <img src="/assets/albumcover/anamanaguchi-misstherage.jpg">
          <p>
            <b>miss the rage</b>
            <br><span>anamanaguchi</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=j-rsF-R-nWY">
        <div class="favsong" id="anamanaguchi-sunset">
          <img src="/assets/albumcover/anamanaguchi-usa.jpg">
          <p>
            <b>sunset by plane</b>
            <br><span>anamanaguchi ft. caroline lufkin</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=Dh6zs3HOCJo">
        <div class="favsong" id="anamanaguchi-silence">
          <img src="/assets/albumcover/anamanaguchi-anyway.jpg">
          <p>
            <b>valley of silence</b>
            <br><span>anamanaguchi</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=NL7fyOoDG5w">
        <div class="favsong" id="metric-waves">
          <img src="/assets/albumcover/metric-fantasies.jpg">
          <p>
            <b>waves</b>
            <br><span>metric</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=4R2f8fkoOu0">
        <div class="favsong" id="metric-whitegold">
          <img src="/assets/albumcover/metric-guaba.jpg">
          <p>
            <b>white gold</b>
            <br><span>metric</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=ZuPRFDC3wCQ">
        <div class="favsong" id="metric-cascades">
          <img src="/assets/albumcover/metric-pagansinvegas.jpg">
          <p>
            <b>cascades</b>
            <br><span>metric</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=MfJp8eabfw0">
        <div class="favsong" id="metric-eternity">
          <img src="/assets/albumcover/metric-formentera.jpeg">
          <p>
            <b>what feels like eternity</b>
            <br><span>metric</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=qvm3_oXZZtg">
        <div class="favsong" id="metric-horizon">
          <img src="/assets/albumcover/metric-artofdoubt.jpg">
          <p>
            <b>no lights on the horizon</b>
            <br><span>metric</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://dcellgames.bandcamp.com/track/worn-out-tapes-3">
        <div class="favsong" id="wornouttapes">
          <img src="/assets/albumcover/unbeatable-album.jpg">
          <p>
            <b>worn out tapes</b>
            <br><span>peak divide ft. rachel lake</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=tWIX9Bpc_-w">
        <div class="favsong" id="royksopp-visionone">
          <img src="/assets/albumcover/royksopp-junior.jpg">
          <p>
            <b>vision one</b>
            <br><span>royksopp</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=dwIYrhP43-A">
        <div class="favsong" id="snailshouse-discovery">
          <img src="/assets/albumcover/snailshouse-alienpopv.jpg">
          <p>
            <b>discovery</b>
            <br><span>snail's house</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=NKiZH-k9500">
        <div class="favsong" id="unawakeningfloat">
          <img src="/assets/albumcover/sonic-sevenringsinhand.jpg">
          <p>
            <b>unawakening float</b>
            <br><span>runblebee + kenichi tokoi</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=V_9ujx5UjlM">
        <div class="favsong" id="ungravitify-electro">
          <img src="/assets/albumcover/sonic-zerogravity.jpg">
          <p>
            <b>un-gravitify (electro extended)</b>
            <br><span>kenichi tokoi, cashell</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://soundcloud.com/leilani-r-wilson/little-black-cat-sonic-mix-15">
        <div class="favsong" id="littleblackcat">
          <img src="/assets/albumcover/unitres.png">
          <p>
            <b>little black cat</b>
            <br><span>leilani wilson</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=JPo2Bh276OY">
        <div class="favsong" id="floatingpointerror">
          <img src="/assets/albumcover/spark3.jpg">
          <p>
            <b>floating point error</b>
            <br><span>tudd</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=mi30l68Al14">
        <div class="favsong" id="properrhythm-MUSTDIE">
          <img src="/assets/albumcover/unbeatable-offbeats.jpg">
          <p>
            <b>proper rhythm (MUST DIE! remix)</b>
            <br><span>MUST DIE! + peak divide</span>
          </p>
        </div> 
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=hcumY7T0byk">
        <div class="favsong" id="pacsteps">
          <img src="/assets/albumcover/pacmance.jpg">
          <p>
            <b>pac steps</b>
            <br><span>taku inoue</span>
          </p>
        </div> 
        </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=sB7ziuws2aI">
        <div class="favsong" id="deoxyribon">
          <img src="/assets/albumcover/galaxyodyssey0005.jpg">
          <p>
            <b>first cry, deoxyribon</b>
            <br><span>capslack</span>
          </p>
        </div>
        </a>
        <a target="_blank" href="https://www.newgrounds.com/audio/listen/19198">
        <div class="favsong" id="icecappedsv">
          <img src="/assets/albumcover/icecap.jpg">
          <p>
            <b>ice capped s.v.</b>
            <br><span>tenchuX, tailsmon2k1</span>
          </p>
        </div>
        </a>
      </div>
      <!-- <section class="song-player" style="display: none;">
        <div data-link="pacsteps">
          <h1>pac steps</h1>
        </div>
        <div data-link="properrhythm-MUSTDIE">
          <h1>proprerhuetheytheutnemiieamomstDIE</h1>
        </div>
      </section>  -->
    </div>
  </details>
  <!-- <script is:inline>
    const songPlayer = document.querySelector(`.song-player`);

    function showSong(id) {
      songPlayer.style.display = "block"; 

      var unlinkedDivs = document.querySelectorAll(`.song-player > div:not([data-link=${id}])`);
      unlinkedDivs.forEach(div => div.style.display = "none");

      var linkedDiv = document.querySelector(`.song-player > div[data-link=${id}]`);
      if (linkedDiv === null) { songPlayer.style.display = "none"; }
      else { linkedDiv.style.display = "block"; }
    }

    var songs = document.querySelectorAll('.music-grid .favsong');
    songs.forEach(song => song.onclick = function() { showSong(song.id) });
  </script> -->

  <hr>
  <details>
    <summary>
      <h1>random things about me!</h1>  
    </summary>
    <div class="striped">
      <div class="flex-sections">
        <section class="scrollable">
          <h2>things i like doing</h2>
          <ul>
            <li>drawing furries :3</li>
            <li>playing video games</li>
            <li>coding + modding games</li>
            <li>collecting plushes!!!!!!</li>
            <li>listening to the same handful of albums over and over</li>
            <ul>
              <li>like <b>Anamanaguchi's USA</b></li>
              <li>or <b>Metric</b>. just any (every) album they've done</li>
            </ul>
            <li>syncing lyrics for my music library via <a href="https://github.com/tranxuanthang/lrcget" target="_blank">LRCGET</a></li>
            <ul>
              <li>if you find UNBEATABLE or Anamanaguchi .lrc files on LRCLIB, they were probably mine :3</li>
            </ul>
            <li>making awesome websites 😎</li>
          </ul>
        </section>
        <section class="scrollable">
          <h2>video games i like</h2>
          <ul>
            <li><b>UNBEATABLE</b></li>
            <li><b>sonic the hedgehog!!!!!!</b> (fav: maybe Shadow Generations??? Frontiers??? SA2???)</li>
            <li>spark the electric jester 3</li>
            <li>celeste</li>
            <li>bomb rush cyberfunk</li>
            <li>PAC-MAN: championship edition DX+</li>
            <li>taiko no tatsujin (i'm not very good)</li>
          </ul>
        </section>
      </div>
      <div class="flex-sections">
        <section class="scrollable">
          <h2>hardware/software i like</h2>
          <ul>
            <li>site generator: Astro</li>
            <li>laptop: Framework Laptop 16 w/ dGPU</li>
            <li>headphones: DT 770 Pros</li>
              <ul><li>rest in peace my beloved ATH-M40Xs... these are better tho</li></ul>
            <li>controller: 8BitDo Pro 2</li>
            <li>handhelds: New Nintendo 3DS, PS Vita</li>
            <li>drawing tablet: Gaomon PD156 Pro (w/ a Parblo stand since the original is bunk)</li>
            <li>taiko drum: Rhythmagica TDC10</li>
            <li>drawing program: Clip Studio Paint v1</li>
            <li>browser: Firefox with a bit of CSS</li>
            <li>discord client: Vencord with way too much CSS</li>
            <li>writing/notes: Obsidian</li>
            <li>coding (including this site): Visual Studio Code</li>
            <li>Unity game modding: dnSpy, dotnet from command line</li>
          </ul>
        </section>
      </div>
    </div>
  </details>

</Base>