---
import Base from "../layouts/base.astro";
---

<Base title="about me - goatgirlclover" activePage="about">
  <h1>random things about me!</h1>
  <p>i hate writing proper introductions for myself so that bit will come later! ❤️</p>
  
  <hr>
  
  <div class="flex-sections">
    <section class="scrollable">
      <h2>things i like doing</h2>
      <li>drawing furries :3</li>
      <li>playing video games</li>
      <li>coding + modding games</li>
      <li>collecting plushes!!!!!!</li>
      <li>listening to the same handful of albums over and over</li>
      <ul><li>like <b>Anamanaguchi: Summer Singles 2010/2020</b></li>
      <li>or <b>Metric</b>. just any (every) album they've done</li></ul>
      <li>making awesome websites 😎</li>
    </section>
    <section class="scrollable">
      <h2>video games i like</h2>
      <li><b>UNBEATABLE</b></li>
      <li><b>sonic the hedgehog!!!!!!</b> (fav: maybe Shadow Generations??? Frontiers??? SA2???)</li>
      <li>spark the electric jester 3</li>
      <li>celeste</li>
      <li>bomb rush cyberfunk</li>
      <li>PAC-MAN: championship edition DX+</li>
      <li>taiko no tatsujin (i'm not very good)</li>
    </section>
  </div>

  <div class="flex-sections">
    <section class="scrollable">
      <h2>hardware/software i like</h2>
      <li>laptop: Framework Laptop 16 w/ dGPU</li>
      <li>controller: 8BitDo Pro 2</li>
      <li>handhelds: New Nintendo 3DS, PS Vita</li>
      <li>drawing tablet: Gaomon PD156 Pro (w/ a Parblo stand since the original is bunk)</li>
      <li>taiko drum: Rhythmagica TDC10</li>
      <li>drawing program: Clip Studio Paint v1</li>
      <li>browser: Firefox with a bit of CSS</li>
      <li>discord client: Vencord with way too much CSS</li>
      <li>writing/notes: Obsidian</li>
      <li>site blog: Publii</li>
      <li>coding (including this site): Visual Studio Code</li>
      <li>Unity game modding: dnSpy, dotnet command line</li>
    </section>
  </div>
</Base>