---
import Base from "../layouts/base.astro";
import '../styles/gallery.css';
---

<Base title="gallery - goatgirlclover" activePage="gallery">
    <h1>art gallery</h1>
    
    <h2 class="gallery-year">2025</h2>
    <section class="gallery-grid" data-year="2025">

      <a tabindex="0" href="/gallery/view/20250720_briar/" class="gallery-img">
        <img alt="07/20/2025 Briar" title="07/20/2025 Briar" class="thumb" src="/gallery/thumb/20250720_briar.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250717_bethanol/" class="gallery-img">
        <img alt="07/17/2025 Bethanol" title="07/17/2025 Bethanol" class="thumb" src="/gallery/thumb/20250717_bethanol.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250710_brc/" class="gallery-img">
        <img alt="07/10/2025 BRC" title="07/10/2025 BRC" class="thumb" src="/gallery/thumb/20250710_brc.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250628_goatgirl3/" class="gallery-img">
        <img alt="06/28/2025 Goat Girl" title="06/28/2025 Goat Girl" class="thumb" src="/gallery/thumb/20250628_goatgirl3.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250612_bunbun/" class="gallery-img">
        <img alt="06/12/2025 Daisy" title="06/12/2025 Daisy" class="thumb" src="/gallery/thumb/20250612_bunbun.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250612_LOOSENUP/" class="gallery-img">
        <img alt="06/12/2025 loosening up" title="06/12/2025 loosening up" class="thumb" src="/gallery/thumb/20250612_LOOSENUP.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250328_cloverv2/" class="gallery-img">
        <img alt="03/28/2025 Morever Clover" title="03/28/2025 Morever Clover" class="thumb" src="/gallery/thumb/20250328_cloverv2.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250320_witchykitty/" class="gallery-img">
        <img alt="03/20/2025 Witchy Kitty" title="03/20/2025 Witchy Kitty" class="thumb" src="/gallery/thumb/20250320_witchykitty.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>

      <a tabindex="0" href="/gallery/view/20250222_audino/" class="gallery-img">
        <img alt="02/22/2025 Audino" title="02/22/2025 Audino" class="thumb" src="/gallery/thumb/20250222_audino.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      
      <a tabindex="0" href="/gallery/view/20250121_fay/" class="gallery-img">
        <img alt="01/21/2025 Fay" title="01/21/2025 Fay" class="thumb" src="/gallery/thumb/20250121_fay.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
          
    </section>
    
    <h2 class="gallery-year">2024</h2>
    <section class="gallery-grid" data-year="2024">

      <a tabindex="0" href="/gallery/view/20241218_sch0omp" class="gallery-img">
        <img alt="12/18/2024 sch0omp" title="12/18/2024 sch0omp" class="thumb" src="/gallery/thumb/20241218_sch0omp.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20241111_jumpsuitandcoat/" class="gallery-img">
        <img alt="11/11/2024 Jumpsuit and Coat" title="11/11/2024 Jumpsuit and Coat" class="thumb" src="/gallery/thumb/20241111_jumpsuitandcoat.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20241105_eepy/" class="gallery-img">
        <img alt="11/05/2024 Eepy" title="11/05/2024 Eepy" class="thumb" src="/gallery/thumb/20241105_eepy.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20241020_consolekitty_alt/" class="gallery-img">
        <img alt="10/20/2024 Console Kitty" title="10/20/2024 Console Kitty" class="thumb" src="/gallery/thumb/20241020_consolekitty_alt.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240827_comfykitty/" class="gallery-img">
        <img alt="08/27/2024 Comfy Kitty" title="08/27/2024 Comfy Kitty" class="thumb" src="/gallery/thumb/20240827_comfykitty.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240825_lizard/" class="gallery-img">
        <img alt="08/25/2024 Lizard" title="08/25/2024 Lizard" class="thumb" src="/gallery/thumb/20240825_lizard.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240605_goatpride/" class="gallery-img">
        <img alt="06/05/2024 Goat Pride" title="06/05/2024 Goat Pride" class="thumb" src="/gallery/thumb/20240605_goatpride.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240605_goatred/" class="gallery-img">
        <img alt="06/05/2024 Goat Redesign" title="06/05/2024 Goat Redesign" class="thumb" src="/gallery/thumb/20240605_goatred.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <!--- <a tabindex="0" href="/gallery/view/20240310_fursonafits/" class="gallery-img">
        <img alt="" title="" class="thumb" src="/gallery/thumb/20240310_fursonafits.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a> -->
      <a tabindex="0" href="/gallery/view/20240309_goatside/" class="gallery-img">
        <img alt="03/09/2024 Goat Side" title="03/09/2024 Goat Side" class="thumb" src="/gallery/thumb/20240309_goatside.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240201_real/" class="gallery-img">
        <img alt="02/01/2024 Real" title="02/01/2024 Real" class="thumb" src="/gallery/thumb/20240201_real.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240114_rockinduo3/" class="gallery-img">
        <img alt="01/14/2024 Rockin Duo 3" title="01/14/2024 Rockin Duo 3" class="thumb" src="/gallery/thumb/20240114_rockinduo3.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240114_bd3/" class="gallery-img">
        <img alt="01/14/2024 Badguy" title="01/14/2024 Badguy" class="thumb" src="/gallery/thumb/20240114_bd3.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20240103_clovergoat/" class="gallery-img">
        <img alt="01/03/2024 Clover Goat" title="01/03/2024 Clover Goat" class="thumb" src="/gallery/thumb/20240103_clovergoat.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>

    </section>
    <h2 class="gallery-year">2023</h2>
    <section class="gallery-grid" data-year="2023">

      <a tabindex="0" href="/gallery/view/20231214_catref2/" class="gallery-img">
        <img alt="12/14/2023 Cat Ref" title="12/14/2023 Cat Ref" class="thumb" src="/gallery/thumb/20231214_catref2.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20231213_mageredesigndoodle/" class="gallery-img">
        <img alt="12/13/2023 Cat sketches" title="12/13/2023 Cat sketches" class="thumb" src="/gallery/thumb/20231213_mageredesigndoodle.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230822_clo/" class="gallery-img">
        <img alt="08/22/2023 Clo" title="08/22/2023 Clo" class="thumb" src="/gallery/thumb/20230822_clo.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230805_bun/" class="gallery-img">
        <img alt="08/05/2023 Bun" title="08/05/2023 Bun" class="thumb" src="/gallery/thumb/20230805_bun.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230704_goatsnout/" class="gallery-img">
        <img alt="07/04/2023 Snout" title="07/04/2023 Snout" class="thumb" src="/gallery/thumb/20230704_goatsnout.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230611_teal/" class="gallery-img">
        <img alt="06/11/2023 Teal" title="06/11/2023 Teal" class="thumb" src="/gallery/thumb/20230611_teal.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230529_vendetta/" class="gallery-img friendart">
        <img alt="05/29/2023 Vendetta" title="05/29/2023 Vendetta" class="thumb" src="/gallery/thumb/20230529_vendetta.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230528_sarah/" class="gallery-img friendart">
        <img alt="05/28/2023 Sarah" title="05/28/2023 Sarah" class="thumb" src="/gallery/thumb/20230528_sarah.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20230507_nya/" class="gallery-img">
        <img alt="05/07/2023 Nya" title="05/07/2023 Nya" class="thumb" src="/gallery/thumb/20230507_nya.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <!-- <a tabindex="0" href="/gallery/view/20230405_cleofront/" class="gallery-img">
        <img class="thumb" src="/gallery/thumb/20230405_cleofront.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a> -->
      <a tabindex="0" href="/gallery/view/20230116_cleoref/" class="gallery-img">
        <img alt="01/16/2023 Cleo Ref" title="01/16/2023 Cleo Ref" class="thumb" src="/gallery/thumb/20230116_cleoref.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>

    </section>
    <h2 class="gallery-year">2022</h2>
    <section class="gallery-grid" data-year="2022">

      <a tabindex="0" href="/gallery/view/20221211_cleosit/" class="gallery-img">
        <img alt="12/11/2023 Cleo Sit" title="12/11/2023 Cleo Sit" class="thumb" src="/gallery/thumb/20221211_cleosit.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20221202_juno/" class="gallery-img friendart">
        <img alt="12/02/2022 Juno" title="12/02/2022 Juno" class="thumb" src="/gallery/thumb/20221202_juno.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20221118_cleo/" class="gallery-img">
        <img alt="11/18/2022 Cleo" title="11/18/2022 Cleo" class="thumb" src="/gallery/thumb/20221118_cleo.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220614_transsonadoodle/" class="gallery-img">
        <img alt="06/14/2022 Sona Doodles" title="06/14/2022 Sona Doodles" class="thumb" src="/gallery/thumb/20220614_transsonadoodle.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220513_unitres/" class="gallery-img fanart">
        <img alt="05/13/2022 Unitres" title="05/13/2022 Unitres" class="thumb" src="/gallery/thumb/20220513_unitres.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220321_nutella/" class="gallery-img friendart">
        <img alt="03/21/2022 Nutella" title="03/21/2022 Nutella" class="thumb" src="/gallery/thumb/20220321_nutella.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220222_mgsketchpage/" class="gallery-img">
        <img alt="02/22/2022 sketches" title="02/22/2022 sketches" class="thumb" src="/gallery/thumb/20220222_mgsketchpage.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220206_lesbodoggo/" class="gallery-img">
        <img alt="02/06/2022 Lesbo Doggo" title="02/06/2022 Lesbo Doggo" class="thumb" src="/gallery/thumb/20220206_lesbodoggo.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220202_wizard/" class="gallery-img">
        <img alt="02/02/2022 Wizard" title="02/02/2022 Wizard" class="thumb" src="/gallery/thumb/20220202_wizard.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220127_cam3/" class="gallery-img">
        <img alt="01/27/2022 Cam 3" title="01/27/2022 Cam 3" class="thumb" src="/gallery/thumb/20220127_cam3.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220125_cam2/" class="gallery-img">
        <img alt="01/25/2022 Cam 2" title="01/25/2022 Cam 2" class="thumb" src="/gallery/thumb/20220125_cam2.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220114_camheart/" class="gallery-img">
        <img alt="01/14/2022 Cam" title="01/14/2022 Cam" class="thumb" src="/gallery/thumb/20220114_camheart.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20220102_green/" class="gallery-img">
        <img alt="01/02/2022 Green" title="01/02/2022 Green" class="thumb" src="/gallery/thumb/20220102_green.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>

    </section>
    <h2 class="gallery-year">2021</h2>
    <section class="gallery-grid" data-year="2021">

      <a tabindex="0" href="/gallery/view/20211231_rockinduo2/" class="gallery-img">
        <img alt="12/31/2021 Rockin Duo" title="12/31/2021 Rockin Duo" class="thumb" src="/gallery/thumb/20211231_rockinduo2.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20211210_duo3/" class="gallery-img">
        <img alt="12/10/2021 Duo 3" title="12/10/2021 Duo 3" class="thumb" src="/gallery/thumb/20211210_duo3.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20211116_panda/" class="gallery-img">
        <img alt="11/16/2021 Panda" title="11/16/2021 Panda" class="thumb" src="/gallery/thumb/20211116_panda.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20211112_badger/" class="gallery-img">
        <img alt="11/12/2021 Badger" title="11/12/2021 Badger" class="thumb" src="/gallery/thumb/20211112_badger.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20211101_mae/" class="gallery-img fanart">
        <img alt="11/01/2021 Mae" title="11/01/2021 Mae" class="thumb" src="/gallery/thumb/20211101_mae.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210926_goat/" class="gallery-img friendart">
        <img alt="09/26/2021 Goat" title="09/26/2021 Goat" class="thumb" src="/gallery/thumb/20210926_goat.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210924_emery/" class="gallery-img friendart">
        <img alt="09/24/2021 Emery" title="09/24/2021 Emery" class="thumb" src="/gallery/thumb/20210924_emery.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210816_chicory/" class="gallery-img fanart">
        <img alt="08/16/2021 Chicory" title="08/16/2021 Chicory" class="thumb" src="/gallery/thumb/20210816_chicory.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210808_gf/" class="gallery-img">
        <img alt="08/08/2021 Pup" title="08/08/2021 Pup" class="thumb" src="/gallery/thumb/20210808_gf.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210805_duo2/" class="gallery-img">
        <img alt="08/05/2021 Duo 2" title="08/05/2021 Duo 2" class="thumb" src="/gallery/thumb/20210805_duo2.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210801_punches/" class="gallery-img fanart">
        <img alt="08/01/2021 Punches" title="08/01/2021 Punches" class="thumb" src="/gallery/thumb/20210801_punches.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210730_mania/" class="gallery-img friendart">
        <img alt="07/30/2021 Mania" title="07/30/2021 Mania" class="thumb" src="/gallery/thumb/20210730_mania.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210623_brandnewworld/" class="gallery-img fanart">
        <img alt="06/23/2021 Brand New World" title="06/23/2021 Brand New World" class="thumb" src="/gallery/thumb/20210623_brandnewworld.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210616_rat/" class="gallery-img friendart">
        <img alt="06/16/2021 Rat" title="06/16/2021 Rat" class="thumb" src="/gallery/thumb/20210616_rat.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210615_duo/" class="gallery-img">
        <img alt="06/15/2021 Duo" title="06/15/2021 Duo" class="thumb" src="/gallery/thumb/20210615_duo.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210531_kerana/" class="gallery-img fanart">
        <img alt="05/31/2021 Kerana" title="05/31/2021 Kerana" class="thumb" src="/gallery/thumb/20210531_kerana.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210501_magecast/" class="gallery-img">
        <img alt="05/01/2021 Magecast" title="05/01/2021 Magecast" class="thumb" src="/gallery/thumb/20210501_magecast.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20210110_momodoraenemies/" class="gallery-img fanart">
        <img alt="01/10/2021 Momodora Enemies" title="01/10/2021 Momodora Enemies" class="thumb" src="/gallery/thumb/20210110_momodoraenemies.jpg" width="192px" height="192px"
          style="object-fit: cover;" loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20201226_fark/" class="gallery-img fanart">
        <img alt="12/26/2020 Fark" title="12/26/2020 Fark" class="thumb" src="/gallery/thumb/20201226_fark.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
      <a tabindex="0" href="/gallery/view/20201223_spark/" class="gallery-img fanart">
        <img alt="12/23/2020 Spark" title="12/23/2020 Spark" class="thumb" src="/gallery/thumb/20201223_spark.jpg" width="192px" height="192px" style="object-fit: cover;"
          loading="lazy"></a>
    </section>
</Base>