---
import Head from "../layouts/fragment/head.astro";
import "../styles/landing.css"
---
<html id="landing-page" lang="en">
<Head title={"goatgirlclover"}></Head>
<body id="landing-body">
    <main>
        <div id="landing-text">
            <h1>hello there!</h1>
            <p>before you head in here, there's a couple things i wanna let you know:</p>
            <ul>
                <li>this site is very mobile friendly - or at least i try to make it so!</li>
                <li>this site has a dark theme, a moving background, and other in-motion elements by default. if you're not into that, these elements can be toggled at the site's footer, or right here:</li>
                <ul>
                    <input onclick="toggleDarkMode()" type="checkbox" id="darkmodeinput" name="darkmodeinput"/>
                    <label for="darkmodeinput">enable light mode</label>
                    <br>
                    <input onclick="toggleReducedMotion()" type="checkbox" id="reducedmotioninput" name="reducedmotioninput"/>
                    <label for="reducedmotioninput">enable reduced motion</label>
                </ul>
                <li>while many parts of this site use JavaScript, all of my own content (art gallery, blog, etc.) is still perfectly browsable!</li>
                <ul>
                    <li>note that light mode/reduced motion toggles require JavaScript to work! system preference on reduced motion is respected (though the site toggle can override it), but preference on dark mode isn't</li>
                </ul>
                <li>there's no NSFW content on this site, however i am an adult and can be a little crass. also, some of my art could be considered ~suggestive~ (nothing crazy, but if i feel the need i'll add warnings). proceed with caution!</li>
            </ul>
            <p>with that outta the way...</p>
            <div id="enter-button"><a href="/home"><h1>lemme in already!!! ↪</h1></a></div>
        </div>
    </main>
</body>
<script is:inline type="text/javascript">
    document.getElementById("darkmodeinput").checked = (localStorage.getItem('lightMode') === 'true');
    document.getElementById("reducedmotioninput").checked = (localStorage.getItem('reducedMotion') === 'true');
</script>
<script is:inline type="text/javascript" src="/assets/scripts/darkmode.js"></script>
</html>