---
import Base from "../layouts/base.astro";
import LinkButtons from "../components/linkbuttons.astro";
import '../styles/links.css';
---

<Base title="links - goatgirlclover" activePage="links">
  <div class="flex-sections">
    <section class="links-socials">
      <h1>where to find me</h1>
      <div class="main-socials">
        <div class="links">
          <LinkButtons />
        </div>
        <p>i'm most active on bluesky! tumblr is the only other one i'm "social" in - itaku is more of an alternative art gallery, and the rest are here just to verify that they're mine.</p>
      </div>
    </section>

    <section class="webring chao-garden">
      <iframe
        src="https://chaogarden.netlify.app/?site=https://goatgirl.nekoweb.org"
        width="198" height="198"
        frameborder="0"
        scrolling="no"
        sandbox="allow-scripts allow-same-origin allow-popups"
        style="border:none; overflow:hidden;">
      </iframe>
    </section>
  </div>

  <hr>

  <details>
    <summary>
      <h2>buttons</h2>
      <p>(watch out for flashing! click to expand)</p>
    </summary>
    
    <div class="details-expand striped">
      <p>credits shown on hover where i could find them!
        <br>(some of these buttons are made by me! feel free to use them with or without credit)</p>

      <div class="button-holder">
        <a target="_blank" href="https://nekoweb.org"> 
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nekoweb-milkyway.moe.gif" alt="nekoweb" title="designed by milkyway.moe! (from nekoweb.org)">
        </a> <a target="_blank" href="https://32bit.cafe"> 
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/32bitty-loren.png" alt="32bit.cafe" title="designed by loren @ 32bit.cafe!">
        </a> <a target="_blank" href="https://status.cafe"> 
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/statuscafe.png" alt="status.cafe" title="from status.cafe">
        </a>
        
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/cohost-mykocalico.gif" alt="i was on cohost!" title="designed by mykocalico!">
        
        <a target="_blank" href="https://unbeatablegamewishlist.now">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/unbeatable.gif" alt="unbeatable" title="created by me! from UNBEATABLE by d-cell games">
        </a>

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/taiko-goatgirl.gif" alt="taiko no tatsujin" title="created by me!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/shadow.png" alt="shadow the hedgehog" title="created by me!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/sonic06.png" alt="sonic 06" title="created by me!">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/animalcrossing-goatgirl.gif" alt="animal crossing" title="designed by me!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/AnimalCrossing.gif" alt="animal crossing">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/sonicmega.png" alt="sonic mega collection">
        
        <a target="_blank" href="https://sonicteam.com">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/sonicbattle-sonicteam.png" alt="sonic battle" title="from sonicteam.com!">
        </a> <a target="_blank" href="https://sonicteam.com">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/sonicadv2-sonicteam.png" alt="sonic advance 2" title="from sonicteam.com!">
        </a>
        
        <a target="_blank" href="https://kibzone.neocities.org/webtrinkets">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/cream-kibzone.gif" alt="cream the rabbit" title="designed by kibzone!">
        </a>
        
        <a target="_blank" href="https://www.bandainamcoent.co.jp/cs/list/kloweb/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/klonoaathome.gif" alt="klonoa @ home" title="from the official klonoa site">
        </a>
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/nights.jpg" alt="nights into dreams">
        
        <a target="_blank" href="https://doukutsu.rs/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/cavestory-leojrthetanooki.gif" alt="cave story" title="designed by leojrthetanooki!">
        </a>

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/kris.gif" alt="kris where tf are we">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/ralsei.gif" alt="ralsei smoking a fat blunt">
        
        <a target="_blank" href="https://www.youtube.com/watch?v=zLDlWNDmR8k">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/homebrew-bythelightswitch.gif" alt="homebrew channel" title="created by bythelightswitch!">
        </a> <a target="_blank" href="https://github.com/wiidev/usbloadergx">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/usbloadergx-bythelightswitch.jpg" alt="usb loader gx" title="created by bythelightswitch!">
        </a>
        <!-- <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/3ds-44nifty.png" alt="3DS" title="designed by 44nifty!"> -->
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/custom/gba.gif" alt="Game Boy Advance" title="created by me!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/xbox360.jpg" alt="Xbox 360">
        
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/computer.png" alt="i like computer">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/hair.gif" alt="there are no bad hair days on the internet">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/openeyes.gif" alt="best viewed with open eyes">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/mobilefriendly.gif" alt="mobile friendly">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/vscode.png" alt="made with visual studio code">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/paws.png" alt="made with my own two paws">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/graphicdesign-101kittens.jpg" alt="graphic design is my passion" title="designed by 101kittens!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/css.gif" alt="css is difficult">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/queercoded.png" alt="you're telling me a queer coded this?">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/keysmash.gif" alt="i support keysmash equality">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/estradiol.png" alt="powered by estradiol">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/cheezit.gif" alt="built eating cheez-its">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/drpepper.gif" alt="powered by dr pepper">
        
        <a target="_blank" href="https://32bit.cafe/cyowebsite/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/website.jpg" alt="make a website">
        </a>

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/transrights.png" alt="trans rights now!">
        
        <a target="_blank" href="https://hillhouse.neocities.org/journal/notes/palestine">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/palestine.gif" alt="free palestine now!">
        </a>

        <a target="_blank" href="https://wii.hacks.guide/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/homebrew-44nifty.png" alt="homebrew now!" title="designed by 44nifty!">
        </a>
        <a target="_blank" href="https://3ds.hacks.guide">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/mod3ds-lain-at-the-gay-bar.jpg" alt="mod your 3DS now!" title="designed by lain-at-the-gay-bar!">
        </a> <a target="_blank" href="https://fmhy.net/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/piracy-cheezitofthevalley.gif" alt="piracy now!" title="designed by cheezitofthevalley!">
        </a> <a target="_blank" href="https://r-roms.github.io/">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/emulate.gif" alt="emulate now!">
        </a>
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/sackboy-erurisavant.png" alt="sackboy now!" title="designed by erurisavant!">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/copilot-winstalgia.gif" alt="delete windows copilot" title="designed by winstalgia!">
        
        <a target="_blank" href="https://ezgif.com/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/ezgif.gif" alt="ezgif.com now!">
        </a>
        <!-- <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/internetarchive.jpg" alt="internet archive"> -->

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/ublock.gif" alt="ublock origin now!">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/now/fuckoff.png" alt="what the fuck? fuck off!" title="(just kidding)">

        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/audacity.png" alt="audacity user">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/blender.png" alt="blender user">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/clipstudio.png" alt="clip studio paint user">
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/firefox.png" alt="firefox user">
        <!-- <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/inkscape.png" alt="inkscape user"> -->
        <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/nocredit/indieseas/musicbee.png" alt="musicbee user">
        
        <!-- <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/transbi-badge.les.bi.png" alt="trans and bisexual flags" title="from badge.les.bi!"> -->
        <a target="_blank" href="https://ruffle.rs/">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/flash.gif" alt="macromedia flash">
        </a> <a target="_blank" href="https://support.microsoft.com/en-us/windows/windows-media-player-legacy-e8f84f54-cd64-865c-2e83-1d8ec121b5b8">
          <img class="freezable" loading="lazy" height="31" width="88" src="/assets/buttons/88x31/wmp.gif" alt="free windows media player">
        </a>
      </div>
    </div>
    
  </details>

  <hr>

  <section class="cool-sites">
    <h1>cool ass sites !!</h1>
    <p>inspiration and the like :) check em out!!!!!!!</p>
    <div class="button-holder">
        <a href="https://sillywah.cc" title="silly wah" target="_blank"><img src="https://sillywah.cc/img/button/sillywah.gif" alt="Silly Wah"></a>
        <a class="freezable" href="https://kibzone.neocities.org" title="kibzone" target="_blank"><img src="/assets/buttons/88x31/site/kibzone.png" alt="kibzone"></a>
        <a href="https://sunsetbaya.nekoweb.org/" target="_blank" title="sunsetbaya"><img src="https://sunsetbaya.nekoweb.org/pics/mybutton.gif" alt="sunsetbaya"></a>
        <a href="https://toasty.place" title="toasty.place" target="_blank"><img src="https://toasty.place/images/buttons/sitebutton.gif" alt="toasty!"></a>
        <a class="freezable" href="https://kaiakairos.net/" title="kaiakairos.net" target="_blank"><img src="/assets/buttons/88x31/site/kaiakairos.gif" alt="play waxweaver!"></a>
        <a class="freezable" href="https://corvidae.digital" title="corvidae.digital" target="_blank"><img src="/assets/buttons/88x31/site/corvidae.gif" alt="corvidae digital"></a>
        <a class="freezable" href="https://mooeena.site/" title="mooeena.site" target="_blank"><img src="/assets/buttons/88x31/site/mooeena_xbleaxhx.gif" alt="moo like a goat!"></a>
        <a href="https://jbc.lol" target="_blank"><img src="https://jbc.lol/imgs/buttons/jbtn.gif" alt="jb's site"/></a>
  </section>

  <hr>
  
  <section>
    <h1>site credits</h1>
    <ul>
      <li>powered by 
        <a target="_blank" href="https://nekoweb.org/">Nekoweb</a> 
        and <a target="_blank" href="https://astro.build/">Astro</a>! 
        i used 
        <a target="_blank" href="https://jbc.lol/tutorials/astro/">this tutorial</a> 
        and heavily referenced 
        <a target="_blank" href="https://github.com/withastro/astro/tree/main/examples/blog">this blog example</a> 
        while porting my site to Astro
      </li>
      <li>
        blog originally handled by <a target="_blank" href="https://getpublii.com/">Publii</a>! 
        more info on that route in <a href="/blog/post/how-i-made-this-website">this old blog post</a>
      </li>
      <li>
        <a target="_blank" href="https://32bit.cafe/">32bit.cafe</a> 
        was a constant source of inspiration while working on this site. 
        i'd recommend checking out its resources if you're ever interested in creating your own site!
      </li>
      <li>
        this site's emoji set is <a target="_blank" href="https://mutant.tech">Mutant Standard</a> 
        (licensed under <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>)
      </li>
          <ul><li>
            unicode emojis are replaced using a modified version of 
            <a target="_blank" href="https://github.com/jakejarvis/imagemoji">@jakejarvis/imagemoji</a> 
            with partial regex from 
            <a target="_blank" href="https://github.com/slevithan/emoji-regex-xs">@slevithan/emoji-regex-xs</a>
          </li></ul>
      <li>last.fm widget is modified code from 
          <a target="_blank" href="https://dainfloop.is-a.dev">DaInfLoop's website</a>
          (which itself uses <a href="https://github.com/biancarosa/lastfm-last-played" target="_blank">@biancarosa/lastfm-last-played</a>)
      </li>
      <li>
        i use <a target="_blank" href="https://imagemagick.org">ImageMagick</a> 
        combined with some custom scripts to manage the gallery images and generate thumbnails</li>
      <li>
        this site uses a modified version of 
        <a target="_blank" href="https://necolas.github.io/normalize.css/">normalize.css</a> 
        for more consistent formatting across browsers
      </li>
      <li>
        the hearts pattern background over there is 
        <a target="_blank" href="https://codepen.io/yoksel/pen/AMMzMa">modified CSS from yoksel on Codepen</a>
      </li>
    </ul>
  </section>
</Base>