<div class="carouselContainer"><div class="pre-pre-site"><div class="pre-site" style="overflow:hidden!important;contain:strict!important"><div id="site-goatgirl-nekoweb-org" class="site-box t-" style="width:275px!important;height:190px!important;position:relative!important">
    <span class="top-dot"></span>
    <a href="//goatgirl.nekoweb.org/" target="_blank" rel="noopener ugc" style="position:relative!important">
        <div class="sitefeature" style="position:relative!important">
                        
                <img src="https://nekoweb.org/screenshots/goatgirl.nekoweb.org/index_large.jpg" class="screenshot" style="position:relative!important">
            
        </div>
        <p style="position:relative!important">
            goatgirl.nekoweb.org
            
                <span style="position:relative!important" class="follow follow-goatgirl-nekoweb-org" data-domain="goatgirl.nekoweb.org" title="Follow" role="button">[+]</span>
            
        </p>
        <span style="position:relative!important">goatgirlclover</span>
        <br>
    </a>
    <span class="bottom-dot"></span>
</div></div></div></div>


<div class="posts" style="width: 640px; margin: auto;"><div class="pre-pre-post">
        <div class="pre-post" style="overflow:hidden!important">
            <a href="https://goatgirl.nekoweb.org/?changelog-item=2025-11-06/" class="post-link" target="_blank" rel="noopener ugc" style="position:relative!important">
                <div id="post-goatgirl-nekoweb-org-httpsgoatgirlnekoweborgchangelogitem20251106" class="post-box t-classic" style="width:100%!important;max-height:400px!important;position:relative!important">
                    <div class="post-box-inner">
                        <span class="post-top-dot"></span>
                        <span class="post-author" style="position:relative!important">goatgirl.nekoweb.org</span>
                        <span class="post-dot" style="position:relative!important">·</span>
                        <span class="post-date" style="position:relative!important">11/6/2025</span>
                        <h4 class="post-title" style="position:relative!important">changelog: November 5, 2025</h4>
                        
                            <p class="post-description" style="position:relative!important">updated UNBEATANLE countdown at homepage to reflect its delayed release :')</p>
                        
                        <span class="post-bottom-dot"></span>
                        
                            <form action="/api/posts/delete" method="post" class="post-delete-form">
                                <input type="hidden" name="guid" value="httpsgoatgirlnekoweborgchangelogitem20251106">
                                <input type="hidden" name="site_id" value="18985">
                                <button type="submit" class="post-delete-button">Delete</button>
                            </form>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
    .site-box > a {
        display: inline-block;
        height: 100%;
        width: 100%;
    }
    .site-box {
        text-align: right;
        font-size: 12px;
        background: url("/assets/backgroundNew2.gif");
        background-size: 32px;
        border-radius: 12px;
        border: 2px solid black;
        outline: 2px dashed black;
        outline-offset: -6px;
        overflow: hidden;
    }
    .site-box::before {
        display: block;
        position: absolute;
        width: 196px;
        height: 72px;
        top: 0px;
        right: 0;
        content: "";
        background: url("/assets/img/logoPink.png") bottom right/contain no-repeat;
        z-index: 1;
        transition: transform 0.2s;
    }
    .site-box:hover::before {
        background-image: url("/assets/img/logoShrink2.png");
        transform: scale(1.05) translateX(-2.5%);
    }
    .site-box::after {
        display: block;
        position: absolute;
        width: 256px;
        height: 122px;
        bottom: 0px;
        content: "";
        background: url("/assets/img/goatlayHD.gif") bottom left/contain no-repeat;
        z-index: 2;
    }
    .site-box > a > p {
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        text-shadow: 1px 1px black;
        position: relative;
        top: 70px;
        right: 6px;
    }
    .site-box > a > span,
    .site-box .sitefeature {
        display: none;
    }

    .post-box {
        background-color: #241717;
        border: 2px solid #000;
        padding: 15px;
        border-radius: 12px;
        color: #fff;
        font-family: sans-serif;
        outline: 2px dashed black;
        outline-offset: -6px;
    }
    .post-box::before {
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        height: 32px;
        right: 15px;
        top: 15px;
        background: url('/assets/img/embed-icon.png') center/contain no-repeat;
    }
    .post-box .post-title {
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
        font-family: sans-serif;
        border-bottom: 2px dashed black;
        padding-bottom: 12px;
    }
</style>

<style is:inline>
   @import url('https://nekoweb.org/styles/main.css');
    .follow {
        cursor: pointer;
        font-size: 12px;
    }
    .pre-pre-site {
        margin: 18px;
        vertical-align: middle;
        display: inline-block !important;
        width: 280px;
        height: 197px !important;
    }
    .pre-site {
        position: relative;
        display: inline-block !important;
        width:280px !important;
        height:195px !important;
    }
    .site-box::after,
    .site-box::before,
    .bottom-dot,
    .top-dot {
        pointer-events: none;
    }
</style>