---
import Base from "../../layouts/base.astro";
---

<Base title="not found - goatpupclover">
  <div class="stamp"></div>
  <style>
    .stamp {
        display: block;
        width: 200px;
        height: 200px;
        margin: 16px;
        border: 20px solid; 
        background-color: white;
        border-image: url("/assets/stamp.png") 128 / 20px round;
        border-image-outset: 16px;
    }
  </style>
</Base>