---
import Base from "../../layouts/base.astro";
---

<Base title="not found - goatpupclover">
  <div class="stamp">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Landscape_Wikimedia.jpg"></img>
  </div>
  <style>
    .stamp {
        display: block;
        width: 200px;
        height: 200px;
        margin: 16px;
        border: 4px solid white;
        background-color: white;
        border-image: url("/assets/stamp.png") 128 / 24px round;
        border-image-outset: 16px;
        filter: drop-shadow(3px 3px var(--darker-bg-25));
    }
    .stamp > img {
        width: 100%;
        height: 100%;
    }
  </style>
</Base>
